<h4>Rezerwacje oczekujące na potwierdzenie</h4>
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Service</th>
            <th>Date</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of unconfirmedReservations">
          <td>{{ reservation.username }}</td>
          <td>{{ reservation.service.name }}</td>
          <td class="whitespace">{{ reservation.date.year }}.{{ reservation.date.month }}.{{ reservation.date.day }} {{ reservation.date.hour}}</td>
          <td><button class="btn btn-outline-success confirm-schedule" 
                (click)="confirmReservation(reservation.reservationId)">Confirm</button>
          </td>
          <td>
            <button class="btn btn-outline-danger confirm-schedule"
                (click)="rejectReservation(reservation.reservationId)">Reject</button>
            </td>
      </tr>
    </tbody>
</table>
