<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Service Name</th>
            <th>Scheduled on</th>
            <th>Confirm</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of unconfirmedReservations">
          <td>{{ reservation.username }}</td>
          <td>{{ reservation.service.name }}</td>
          <td>{{ reservation.date.toString() }}</td>
          <td><button class="fa fa-thumbs-up"></button></td>
      </tr>
    </tbody>
</table>