<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Service Name</th>
            <th>Scheduled on</th>
            <th>Confirm</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of unconfirmedReservations">
          <td>{{ reservation.username }}</td>
          <td>{{ reservation.service.name }}</td>
          <td>{{ reservation.date.year }}.{{ reservation.date.month }}.{{ reservation.date.day }} {{ reservation.date.hour}}</td>
          <td><i class="fa fa-check-square-o text-success ml-4 confirm-schedule" 
                (click)="confirmReservation(reservation.reservationId)"></i></td>
      </tr>
    </tbody>
</table>