.page-link {
    cursor: pointer;
}

.hide-overflow {
    height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #ddd;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #007BFF;
}