<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">CarWash</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active" *ngIf="getCurrentUserRole() !== 'StaffMember'">
          <a class="nav-link" routerLink="">Rezerwacje <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="getCurrentUserRole() === 'Customer'">
          <a class="nav-link" routerLink="user/schedules">Moje terminy</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto pull-right" *ngIf="!isLoggedIn()">
        <li class="nav-item">
          <a routerLink="register" class="nav-link">Zarejestruj</a>
        </li>
        <li class="nav-item">
          <a routerLink="login" class="nav-link">Zaloguj</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto pull-right" *ngIf="isLoggedIn()">
          <li class="nav-item">
            <a class="nav-link" routerLink="">Witaj {{currentUsername}}!</a>
          </li>
          <li class="nav-item">
            <a routerLink="" class="nav-link" (click)="logOut()">Wyloguj</a>
          </li>
        </ul>
    </div>
  </div>
</nav>

<div class="jumbotron" *ngIf="getCurrentUserRole() !== 'StaffMember'">
  <div class="container">
        <h1>Car Wash</h1>
        <p class="lead">Gwatantujemy, że nie poznasz swojego samochodu przy odbiorze.</p>
        <p>Zobacz dostępne terminy i wybierz odpowiedni dla siebie.</p>
  </div>
</div>

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>


