<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">CarWash</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto pull-right">
        <li class="nav-item">
          <a routerLink="login" class="nav-link">Log In</a>
        </li>
        <li class="nav-item">
          <a routerLink="register" class="nav-link">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
        <h1>Car Wash</h1>
        <p class="lead">Gwatantujemy, że nie poznasz swojego chuj 8====D samochodu przy odbiorze.</p>
        <p>Zobacz dostępne terminy i wybierz odpowiedni dla siebie.</p>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <router-outlet></router-outlet>
  </div>
</div>


