.card {
    cursor: pointer;
}

.card:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #ddd;
}

.card.active {
    background-color: #E9ECEF;
    border-color: #28A745;
}

.btn.btn-select {
    width: 20%;
}