@{
    ViewBag.Title = "Car Wash";
}

<div class="jumbotron">
    <h1>Car Wash</h1>
    <p class="lead">Gwatantujemy, że nie poznasz swojego samochodu przy odbiorze.</p>
    <p>Zobacz dostępne terminy i zaloguj się, żeby zarezerwować.</p>
</div>

<div class="row">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary">@DateTime.Now.ToShortDateString()</button>
            <button type="button" class="btn btn-secondary">2</button>
            <button type="button" class="btn btn-secondary">3</button>
            <button type="button" class="btn btn-secondary">4</button>
        </div>
    </div>
</div>