@model CarWash.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = "Car Wash";
}

<div class="jumbotron">
    <h1>Car Wash</h1>
    <p class="lead">Gwatantujemy, że nie poznasz swojego samochodu przy odbiorze.</p>
    <p>Zobacz dostępne terminy i zaloguj się, żeby zarezerwować.</p>
</div>
